@model IEnumerable<MvcCoreElasticCacheAWS.Models.Coche>

@{
    ViewData["Title"] = "Favoritos";
}

<h1>Mis Favoritos</h1>

<p>
    <a asp-action="Index">Volver</a>
</p>
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Marca)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Modelo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Imagen)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Marca)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Modelo)
                    </td>
                    <td>
                        <img src="@Html.DisplayFor(modelItem => item.Imagen)" width="200" height="200" />
                    </td>
                    <td>
                        <a class="btn btn-danger" asp-controller="Coches"
                           asp-action="DeleteFavorito" asp-route-id="@item.IdCoche">Eliminar Favorito</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2 class="text-secondary">No hay favoritos en caché</h2>
}
